/* utils */
.pointer {
  cursor: pointer;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.hover:hover {
  color: #7349dd;
}

/* header */
.navbar {
  height: 100px;
  background-color: #fafafa;
}

nav li {
  margin: 20px;
}

.logo {
  max-height: 50px;
}

/* airports */
.flight {
  border: 2px solid #46ebc8;
  width: 1000px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.airport {
  background-color: #f2f4f6;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
}

.airport:hover {
  background-color: #dadbdd;
}

/* flights */
#flights {
  background-color: #fafafa;
}

.cheapest {
  border: 2px solid #ff00a3;
  position: relative;
}

.cheapest-icon::after {
  background-color: #ff00a3;
  color: #fff;
  content: "OFFERTA!";
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  bottom: 70%;
  left: 0%;
}

.flight:hover {
  box-shadow: 2px 2px#f2f2f2;
}

/* footer */
footer {
  background-color: #011627;
}

footer li {
  display: block;
  font-size: 18px;
  margin: 5px;
  color: #fff;
}

.links li:first-child {
  color: #949da4;
}

.links li:hover {
  color: #949da4;
}

hr {
  border: 1px solid #949da4;
}

.privacy {
  color: #949da4;
}

.privacy-link:hover {
  color: #5c6266;
}

.privacy li {
  display: inline-block;
  font-size: 22px;
  margin: 0 10px;
}

.lang:hover {
  color: #fff;
}
