body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#airports,
#flights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: red;
}

.airport {
  border: 1px solid #000;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
}

.cheapest {
  color: red;
}
